@charset "utf-8";
/* CSS Document */

.ima {
	
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
border-radius: 15px;
	
}

.navbar-wrapper {
	height: 51px;
	
	
}

.addpointcontent {
	margin-left: 20px;
	
}

.submitgrp {
	margin-left: 20px;
	
}

#map {
    height: 600px;
	width: 100%;
	margin-top: 10px;
}

.right {
	float:right;
	
}
